*{
    margin: 0;
    padding: 0;
    font-family:"Noto Serif", serif;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(243, 229, 229); 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
}

/* header>img{
    width: 200px; */

header ul{
    display: flex;
    list-style-type:none; 
    gap: 25px;
}

header a{

    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s ease; 
}
header a:hover {
   
    background: linear-gradient(90deg, rgb(192, 134, 28), yellow,rgb(125, 14, 14));
    
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    
  
}
body {
  margin: 0;
  height: 100vh; 
  background: linear-gradient(to right, rgb(198, 7, 7),#1A2841,#080A0E);
}


#homeimages{
    width: 60%;
    position:absolute;
    height: 75vh;
    right:0;
    top: 100px; 
    
    
    
}
p{
    color: white;
}

#home{
    margin-top: 200px;

}
#home h1{
     font-family: "Bungee", sans-serif;
}
#homcontent > p{
margin: 30px 0px;
  font-family: "Merriweather", serif;
}

#homcontent > a {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;

}
#homcontent{
    width: 40%;
    margin-left: 25px;

}


    #homcontent {
    width: 40%;
    margin-left: 25px;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px); 
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(214, 9, 9, 0.37);
}

#homeimages{
    width: 60%;
    position:absolute;
    height: 75vh;
    right:0;
    top: 100px;    
    
}
#spiderlogo{

position: absolute;
width: 565px;
height: 568px;
left: 27px;
top: 0;
}



#homeimages > img {
    position: absolute;
    height: 100%;
    left: 170px;
    top: 0;
    
    transition: top 3s, left 3s ;
}

@keyframes  float  {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(2deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}


#spiderman {
  position: absolute;
  height: 100%;
  left: 170px;
  top: 0;
  animation: float 4s ease-in-out infinite; 
  transition: all 0.5s ease;
}



/* 
@keyframes webZip {
  0% { transform: translateY(-1000px) scale(0.5); opacity: 0; }
  70% { transform: translateY(20px) scale(1.1); opacity: 1; }
  100% { transform: translateY(0) scale(1); }
}

#spiderman {
  animation: webZip 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
} */
